@page
@model healthcareMIS.Pages.Appointments.AppointmentsModel
@{
}

<br>
<h2>Appointment Form</h2>

@*@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}*@

<form method="post">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Patient ID</label>
		<div class="col-sm-6">
			<select class="form-select" name="patient_id">
				<option value="">Select a patient</option>
				@foreach (var item in Model.patient)
				{
					<option value="@item.id">@item.name</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Doctor ID</label>
		<div class="col-sm-6">
			<select class="form-select" name="doctor_id">
				<option value="">Select a doctor</option>
				@foreach (var item in Model.doctor)
				{
					<option value="@item.doctor_id">@item.firstname</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Appointment_Date</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" name="appointment_date" value="@Model.appointmentInfo.appointment_date">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Appointment_Time</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="appointment_time" value="@Model.appointmentInfo.appointment_time">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Appointment_Type</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="appointment_type" value="@Model.appointmentInfo.appointment_type">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Notes</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="notes" value="@Model.appointmentInfo.notes">
		</div>
	</div>


	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
		<div class="col sm-9">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>@Model.successMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>